html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Nunito', sans-serif;
    max-width: 2000px;
}

.title {
    float: left;   
}

header {
    background-color: black;
    overflow: hidden;
    font-size: small;
}

h1 {
    float:right;
    color:white;
    text-align: center;
    padding-left: 100px;
}

nav a {
    list-style-type: none;
    float:right;
    color:white;
    text-align: center;
    font-size: 15px;
}

nav a {
    float:right;
    padding-left: 1em;
    text-align: center;
    padding-top: 30px;
    padding-right: 20px;
}

.hero {
background-image: url("../images/ice-cream-cones.jpg");
height: 700px;
background-position: center;
}

.hero-text {
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-60%);
    text-align: center;
    font-size: 80px;
}

h2 {
    text-align: center;
    color: white;
    font-family: 'Wix Madefor Display', sans-serif;
    text-transform: uppercase;
    padding-left: 200px;
}

h3 {
    font-size: 30px;
    font-family: 'Wix Madefor Display', sans-serif;
    padding-left: 200px;
    padding-top: 50px;
}

h4 {
    font-size: 30px;
    font-family: 'Wix Madefor Display', sans-serif;
    padding-left: 200px;
}

h5 {
    padding-left: 200px;
    font-size: 20px;
}

h6 {
    font-size: 30px;
    font-family: 'Wix Madefor Display', sans-serif;
    padding-left: 200px;
}

h7 {
    padding-left: 200px;
}

p {
    padding-left: 200px;
    max-width: 600px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: black;
    color:#fff;
    overflow: hidden;
}

.welcome {
    background-color: #6f56a4;
    padding-bottom: 50px;
    color: #fff;
    overflow: hidden;
}

.favourites {
    background-color: black;
    color: #bdaed5;
    overflow: hidden;
}

.team {
    background-color: #6f56a4;
    color:white;
    overflow: hidden;
}
